.auth-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.auth-card {
  width: 900px;
  height: 520px;
  background: #ffffff;
  border-radius: 18px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
}

.auth-left {
  flex: 1;
  background: #38bdf8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-left img {
  width: 70%;
}

.auth-right {
  flex: 1;
  padding: 60px 50px;
}

.auth-right h2 {
  font-size: 32px;
  margin-bottom: 8px;
}

.auth-right p {
  color: #666;
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 18px;
}

.input-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.input-group input:focus {
  border-color: #2a5298;
}

.btn {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.primary-btn {
  background: linear-gradient(135deg, #2a5298, #1e3c72);
  color: white;
  margin-top: 10px;
}

.primary-btn:hover {
  opacity: 0.9;
}

.switch-link {
  text-align: center;
  margin-top: 18px;
}

.switch-link span {
  color: #2a5298;
  cursor: pointer;
  font-weight: 600;
}

.back-home-btn {
  position: absolute;
  top: 24px;
  left: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 10;

  span {
    font-size: 18px;
    transition: transform 0.3s ease;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.25);
    transform: translateX(-4px);

    span {
      transform: translateX(-4px);
    }
  }
}
