<div class="auth-container">
  <button class="back-home-btn" routerLink="/">
    <span>←</span> Back to Home
  </button>
  <div class="auth-card">
    <div class="auth-left">
      <img
        src="https://cdn-icons-png.flaticon.com/512/3063/3063822.png"
        alt="Login"
      />
    </div>

    <div class="auth-right">
      <h2>Welcome Back 👋</h2>
      <p>Please login to continue</p>

      <form [formGroup]="itemForm" (ngSubmit)="onLogin()">
        <div class="input-group">
          <label>Username</label>
          <input type="text" formControlName="username" placeholder="Enter username" />
        </div>

        <div class="input-group">
          <label>Password</label>
          <input type="password" formControlName="password" placeholder="Enter password" />
        </div>
        <p class="forgot-password-link">
          <span routerLink="/forgot-password">Forgot Password?</span>
        </p>

        <button type="submit" class="btn primary-btn">Login</button>
      </form>

      <p class="switch-link">
        Don’t have an account?
        <span routerLink="/registration">Sign up</span>
      </p>
    </div>
  </div>
</div>

